<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='author' content='Andrew Hercules'>
  <title>Marketplace</title>
  <link rel='stylesheet' type='text/css' href='/css/normalize.css' />
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' type='text/css' href='/css/stylesheet.css' />
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
      <script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
  <![endif]-->
</head>

<body ng-app='marketplaceApp' ng-controller='marketplaceAppController as application'>

  <nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
    <div class='container'>
      <div class='navbar-header'>
        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' href='#'>{{application.title}}</a>
      </div>
      <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
        <ul class='nav navbar-nav'>
          <li><a href='/'>Home</a></li>
          <li><a href='/mycart'>My Shopping Cart</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class='container'>

    <div class='row'>
      <div class='col-lg-12'>
        <h2>Search</h2>
        <div class='input-group'>
          <span class='input-group-addon'>
            <span class='glyphicon glyphicon-search'></span>
          </span>
          <input type='text' class='form-control' ng-model='application.searchInput' id='search-input-form'>
        </div>
        <br />
        </div>
    </div>

    <div class='row'>
      <div class='col-lg-12'>
        <h2>Latest Finds</h2>
      </div>
    </div>

    <div class='row text-center'>
      <div class='col-md-4 col-sm-6 item-feature' id='all-items' ng-repeat='item in inventoryData' >
        <div class='thumbnail'>
          <img src='http://placehold.it/800x500' alt='Placeholder image'>
          <div class='caption'>
            <h4>{{item.name}}</h4>
            <p>{{item.colour}}</p>
            <p>{{item.category}}</p>
            <p>£ {{item.cost}}</p>
            <a href='#' ng-if='item.quantityInStock > 0' class='btn btn-success'>Buy now!</a>
            <a href='#' ng-if='item.quantityInStock == 0' class='btn btn-danger'>Sold out!</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js'></script>
  <script type='text/javascript' src='/angularApplication.js'></script>
  <script type='text/javascript' src='/controllers/applicationController.js'></script>

</body>

</html>
