<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='author' content='Andrew Hercules'>
  <title>Marketplace</title>
  <link rel='stylesheet' type='text/css' href='/css/normalize.css' />
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' type='text/css' href='/css/stylesheet.css' />
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
      <script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
  <![endif]-->
</head>

<body ng-app='marketplaceApp' ng-controller='marketplaceAppController as application'>

  <nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
    <div class='container'>
      <div class='navbar-header'>
        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' href='#'>Marketplace</a>
      </div>
      <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
        <ul class='nav navbar-nav'>
          <li><a href='#items-for-sale'>Items For Sale</a></li>
          <li><a href='#my-cart'>My Shopping Cart</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class='container'>

    <div class='row'>
      <div class='col-lg-12'>
        <h2>Search</h2>
        <div class='input-group'>
          <span class='input-group-addon'>
            <span class='glyphicon glyphicon-search'></span>
          </span>
          <input type='text' class='form-control' ng-model='searchInput' id='search-input-form'>
        </div>
        <br />
        <h2>Filter</h2>
        <select class='form-control pull-right' id='filter-selection-form' ng-model='filter' ng-options='filter as filter.title for filter in filters'></select>
        </div>
    </div>

    <div class='row'>
      <div class='col-lg-12'>
        <h2 id='items-for-sale'>Items For Sale</h2>
      </div>
    </div>

    <div class='row text-center'>
      <div class='col-md-4 col-sm-3 item-feature' id='all-items' ng-repeat='item in inventoryData | filter:searchInput | orderBy:filter.key:filter.reverse'  >
        <div class='thumbnail'>
          <img src='http://placehold.it/800x500' alt='Placeholder image'>
          <div class='caption'>
            <h5>{{item.name}}</h5>
            <p>{{item.category}}</p>
            <p>£ {{item.cost}}</p>
            <p><span class='item-quantity'>{{item.quantityInStock}}</p> in stock</p>
            <button ng-if='item.quantityInStock > 0' class='btn btn-success buy-now-button' ng-click='addItemToCart(item)'>Buy now!</button>
            <button ng-if='item.quantityInStock == 0' class='btn btn-danger sold-out-button'>Sold out!</button>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
          <div class='col-lg-12'>
            <h2 id='my-cart'>My Shopping Cart</h2>
            <h4 id='total'>Total:<span id='total-value'>{{total}}</span></h4>
            <h5>Voucher Code: <input type='text' class='form-inline' ng-model='voucherInput' id='voucher-input-form'>
              <button class='btn btn-default' id='apply-voucher-button' ng-click='applyVoucherCode(voucherInput)'>apply voucher</button>
            </h5>

            <div class='voucher-message voucher-code-error' ng-if='voucherError == true'>
              <p>Uh oh! Your code is invalid! Please try again!</p>
            </div>

            <div class='voucher-message voucher-code-success' ng-if='voucherError == false'>
              <p>Yay! You're code is valid! You're saving money!</p>
            </div>

          </div>
        </div>

    <div class='row text-center'>
      <div class='col-md-2 col-sm-6 item-feature cart-item' ng-repeat='item in myCart track by $index' >
        <div class='thumbnail'>
          <img src='http://placehold.it/800x500' alt='Placeholder image'>
          <div class='caption'>
            <h4>{{item.name}}</h4>
            <p>{{item.category}}</p>
            <p>£ {{item.cost}}</p>
            <button class='btn btn-default remove-item-button' ng-click='removeItemFromCart(item)'>Remove item</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js'></script>
  <script type='text/javascript' src='/angularApplication.js'></script>
  <script type='text/javascript' src='/controllers/applicationController.js'></script>

</body>

</html>
