<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='author' content='Andrew Hercules'>
  <title>Marketplace</title>
  <link rel='stylesheet' type='text/css' href='/css/normalize.css' />
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' type='text/css' href='/css/stylesheet.css' />
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
      <script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
  <![endif]-->
</head>

<body ng-app='marketplaceApp' ng-controller='marketplaceAppController as application'>

  <nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>

    <section class='container'>
      <section class='navbar-header'>
        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' href='/'>Marketplace</a>
      </section>
      <section class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
        <ul class='nav navbar-nav'>
          <li><a href='#items-for-sale'>Items For Sale</a></li>
          <li><a href='#my-cart'>My Shopping Cart</a></li>
        </ul>
      </section>
    </section>

  </nav>

  <main class='container'>

    <section class='row'>
      <section class='col-lg-6'>
        <h2>Filter ...</h2>
        <select class='form-control pull-right' id='filter-dropdown-menu' ng-model='filter' ng-options='filter as filter.category for filter in filterOptions'></select>
      </section>
      <section class='col-lg-6'>
        <h2>Sort By ...</h2>
        <select class='form-control pull-right' id='sort-by-dropdown-menu' ng-model='sortBy' ng-options='sortBy as sortBy.title for sortBy in sortByOptions'></select>
      </section>
    </section>

    <br />
    <hr id='items-for-sale' />
    <br />

    <section class='row text-center'>
      <section class='col-md-4 col-sm-3 item-feature' id='all-items' ng-repeat='item in inventoryData | filter: filter : true | orderBy:sortBy.key:sortBy.reverse'  >
        <section class='thumbnail'>
          <img src='http://placehold.it/800x500' alt='Placeholder image'>
          <section class='caption'>
            <h5 class='item-name'>{{item.name}}</h5>
            <p>{{item.category}}</p>
            <p>£ {{item.cost}}</p>
            <p><span class='item-quantity'>{{item.quantityInStock}}</p> in stock</p>
            <button ng-if='item.quantityInStock > 0' class='btn btn-success buy-now-button' ng-click='addItemToCart(item)'>Buy now!</button>
            <button ng-if='item.quantityInStock == 0' class='btn btn-danger sold-out-button'>Sold out!</button>
          </section>
        </section>
      </section>
    </section>

    <br />
    <hr id='my-cart' />
    <br />

    <section class='row'>
      <section class='col-md-6'>
        <h2>My Shopping Cart</h2>
        <h3 id='shopping-cart-total'>Total: £<span id='shopping-cart-total-amount'>{{total}}</span></h3>
      </section>
      <section class='col-md-6'>
        <h4>Voucher Code: <input type='text' class='form-control' ng-model='voucherInput' id='voucher-code-input-form'><h5>
        <button class='btn btn-default' id='apply-voucher-button' ng-click='applyVoucherCode(voucherInput)'>Apply Voucher</button>
        <button class='btn btn-success'>Proceed to Checkout</button>
        <section class='voucher-message voucher-code-error' ng-if='voucherError == true'>
          <p class='voucher-message-error'>Uh oh! Your code is invalid! Please try again!</p>
        </section>
        <section class='voucher-message voucher-code-success' ng-if='voucherError == false'>
          <p class='voucher-message-success'>You're code is valid! You're saving money!</p>
        </section>
      </section>
    </section>

    <section class='row text-center'>
      <section class='col-md-2 col-sm-6 item-feature cart-item' ng-repeat='item in myCart track by $index' >
        <section class='thumbnail'>
          <img src='http://placehold.it/800x500' alt='Placeholder image'>
          <section class='caption'>
            <h4>{{item.name}}</h4>
            <p>{{item.category}}</p>
            <p>£ {{item.cost}}</p>
            <button class='btn btn-default remove-item-button' ng-click='removeItemFromCart(item)'>Remove item</button>
          </section>
        </section>
      </section>
    </section>

  </main>

  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js'></script>
  <script type='text/javascript' src='/angularApplication.js'></script>
  <script type='text/javascript' src='/controllers/applicationController.js'></script>

</body>

</html>
